.swipe-cube.has-interacted .showme {
  opacity: 0;
}
.swipe-cube .showme {
  opacity: 1;
  position: absolute;
  transition: all 400ms ease-in;
  text-align: center;
  top: 5%;
  left: 0;
  right: 0;
  border: 0;
}
.swipe-cube.viewport,
.swipe-cube .viewport {
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
.swipe-cube.viewport.is-flat,
.swipe-cube .viewport.is-flat {
  overflow: hidden;
}
.swipe-cube.viewport.is-flat .cube > div,
.swipe-cube .viewport.is-flat .cube > div {
  float: left;
  position: relative;
}
.swipe-cube.viewport.is-flat .cube > div.top,
.swipe-cube .viewport.is-flat .cube > div.top {
  float: right;
}
.swipe-cube .cube {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: -moz-transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: -moz-transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -moz-transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swipe-cube .cube.dragging {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.swipe-cube .cube > div {
  position: absolute;
  background-size: 100%;
  height: 100%;
  width: 100%;
  line-height: 0;
  cursor: pointer;
}
