!!! 5
html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title 3d Cube
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='3d-cube.css')
    style.
      /* Project specific */ 
      h1 {
        margin-top: 0;
        text-align: center;
      }
      html,body { height: 100%; }
      body {
        padding: 0;
        margin: 0;
      }
      .cube div {
        text-align: center;
        font-size: 24px;
        border-radius: 3px;
        background-color: #ccc;
        color: #FFF;
        border: 1px solid #777;
      }
      .cube h2 {
        margin-top: 110px;
      }

      body {
        height: 100%;
        background: #f1f1f1;
        padding: 5%;
      }
      .change {
        text-align: center
      }

  body
    #cube.viewport.swipe-cube: .cube
      .top
        h2 !Top!
        p &#9759;
      .front
        h2 A
        .showme Interact
        p &#9756; | &#9758;
      .right
        h2 B
        p &#9756; | &#9758;
      .back
        h2 C
        p &#9756; | &#9758;
      .left
        h2 D
        p &#9756; | &#9758;
      .bottom
        h2 ¡Bottom¡
        p &#9757;

    //Zepto && HammerJS
    script(src='http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/hammer.js/1.0.5/hammer.min.js')
    script(src='3d-cube.js')
    script.
      /*
       * Hammer.JS jQuery plugin
       * version 0.3
       * author: Eight Media
       * https://github.com/EightMedia/hammer.js
       */
      Zepto.fn.hammer=function(a){return this.each(function(){var b=new Hammer(this,a),c=Zepto(this);c.data("hammer",b);for(var d=["hold","tap","doubletap","transformstart","transform","transformend","dragstart","drag","dragend","swipe","release"],e=0;e<d.length;e++)b["on"+d[e]]=function(a,b){return function(c){a.trigger(Zepto.Event(b,c))}}(c,d[e])})};

      $(function() {
        new Cube($('#cube'), 250);
      });

