h1
  margin-top: 0
  text-align: center

html,body
  height: 100%

body
  padding: 0
  margin: 0


.swipe-cube
  &.has-interacted .showme
    top: -250px
    opacity: 0

  .showme
    opacity: 1
    position: relative
    transition: all 400ms ease-in
    font-size: 1.6em
    text-align: center
    font-family: Helvetica, Arial
    color: #FFF
    font-weight: bold
    background: rgba(24, 24, 32, 0.71)
    width: 77%
    margin: 56% auto
    border-radius: 10px
    padding: 20px 5px
    box-shadow: 0 1px #000
    border: 1px solid rgba(255, 255, 255, 0.24)

  swing = 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940)

  &.viewport,
  .viewport
    position: relative
    margin: 0 auto 40px
    border: 1px solid rgba(255,255,255,0.5)
    -webkit-perspective: 1000px
    -moz-perspective: 1000px

    &.is-flat
      overflow: hidden

      .cube > div
        float: left
        position: relative

        &.top
          float: right

  .cube
    position: absolute
    height: 100%
    width: 100%
    cursor: pointer
    box-sizing: border-box

    -webkit-transition: -webkit-transform swing
    -webkit-transform-style: preserve-3d
    -moz-transition: -moz-transform swing
    -moz-transform-style: preserve-3d

    &.dragging
      -webkit-transition: none
      -moz-transition: none

  .cube > div
    position: absolute
    height: 100%
    width: 100%
    font-size: 1em
    line-height: 1em
    cursor: pointer
    background-size: 100%
