.swipe-cube
  &.has-interacted .showme
    opacity: 0

  .showme
    opacity: 1
    position: absolute
    transition: all 400ms ease-in
    text-align: center
    top: 5%
    left: 0
    right: 0
    border: 0

  swing = 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940)

  &.viewport,
  .viewport
    position: relative
    -webkit-perspective: 1000px
    -moz-perspective: 1000px
    -o-perspective: 1000px
    perspective: 1000px

    &.is-flat
      overflow: hidden

      .cube > div
        float: left
        position: relative

        &.top
          float: right

  .cube
    position: absolute
    height: 100%
    width: 100%
    cursor: pointer
    box-sizing: border-box

    -webkit-transition: -webkit-transform swing
    -moz-transition: -moz-transform swing
    -o-transition: -moz-transform swing
    transition: -moz-transform swing
    -webkit-transform-style: preserve-3d
    -moz-transform-style: preserve-3d
    -o-transform-style: preserve-3d
    transform-style: preserve-3d

    &.dragging
      -webkit-transition: none
      -moz-transition: none
      -o-transition: none
      transition: none

  .cube > div
    position: absolute
    background-size: 100%
    height: 100%
    width: 100%
    line-height: 0
    cursor: pointer
